
<!-- Loop over each object in the posts array -->
{{#each posts as |post|}}
<div class="section">
    <a href="/post/{{post.id}}">
    <div class="box">
          <h3 class="title">{{post.title}}</h3>   
          <div class="content">
            <h5>Course: {{post.course_name}}</h5>
            <h5>Due: {{format_date post.due_date}}</h5>
            <h5>Priority: {{capitalize post.priority}}</h5>
            <h5>Status: {{capitalize post.status}}</h5>
          </div>
          <div class="card-footer">
            <h6>Posted by {{post.user.username}} on {{format_date post.date_created}}</h6>
          </div>
           <p>{{post.content}}</p>
      </a>
    </div>
</div>
{{/each}}

