<div class="text-center post_id" data-id="{{id}}">
  <h2>{{title}}</h2>
  <p>Course: {{course_name}}</p>
  <p>Due Date: {{format_date due_date}}</p>
  <p>Priority: {{capitalize priority}}</p>
  <p>Status: {{capitalize status}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <p>{{content}}</p>
</div>

{{#if comments}}
{{#each comments as |comment|}}
<div class="text-center">
  <h4>{{comment.commentBody}}</h4>
  <p>-{{comment.user.username}} on {{format_date comment.date_created}}</p>
</div>
{{/each}}
{{/if}}

{{#if logged_in}}
<form class="form new-comment-form">
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-input" id="comment" name="comment"></textarea> <!-- Changed to textarea for multi-line input -->
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{{/if}}

<script src="./js/newComment.js"></script>
